<div class="row">
    <div class="col-6">
        <h2>My Bucketlist</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Deadline</th>
                </tr>
            </thead>
            <tbody>
                {{#each myitems}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{activityDescription}}</td>
                    <td>{{completeByDate}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h2>Popular Bucket List Items</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Activity</th>
                    <th scope="col">#People with this activity</th>
                </tr>
            </thead>
            <tbody>
                {{#each topitems}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{activityDescription}}</td>
                    <td>{{count}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>